.header {
  background-color: #8b0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.search-bar input {
  padding: 5px;
}

.search-bar button {
  padding: 6px;
  margin-left: 5px;
}

.icons span {
  margin-left: 15px;
  font-size: 1.4rem;
}